@media(max-width: 1140px){
	.container{
		width: 1040px;
		margin: 0 auto;
	}
	
	.next__title{
	font-size: 40px;
	
	line-height: 1.5;

}
.agency__title{
	font-size: 35px;
}
}
@media(max-width: 1040px){
	.container{
		width: 940px;
		margin: 0 auto;
	}
	.agency__title{
	font-size: 35px;
}
}
@media(max-width: 940px){
	.container{
		width: 840px;
		margin: 0 auto;
	}
	.next__title{
	font-size: 35px;
	
	line-height: 1.5;
}
.agency__title{
	font-size: 35px;
}
}
@media(max-width: 840px){
	.container{
		width: 740px;
		margin: 0 auto;
	}
.primiry__btn{
		font-size: 10px;
	}

.agency__title{
	font-size: 35px;
}
.travel>.container{
	display:block;
	justify-content: column;
	
}
.travel__photo{
	padding-top: 20px;
	text-align: center;
	width: 100%;
}
.travel__photo img{
	  width: 100%;
	transform: none;
}
.travel__content{
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
.travel{
	padding-top: 20px;
	padding-bottom: 10px;
}

}
@media(max-width: 740px){
	.container{
		width: 640px;
		margin: 0 auto;
	}
.body-img{
	background-image: none;
}
.next__title{
	width: 80%;
	color: #000;
}
.nav__logo{
	color: #000;
}
.nav-list{
	display: none;
}

.nav__logo__img{
	width: 44%;
	padding: 0 10px;
	background-color:#000;
}
.navbar{
	padding:  20px 0;
}
.next__content{
	margin: 0 auto;
	width: 100%;
	text-align: center;
	justify-content: center;
}
.next__title{
	margin: 0 auto;
	color: #000;
	justify-content: center;
	font-size: 50px;
}
.next__text{
	width: 80%;
	margin: 0 auto;
	color: #000;
	font-size: 15px;
}

.next__link{
	display: block;
	justify-content: space-between;
	text-align: center;
}
.book__header{
	width: 100%;
	text-align: center;
}
.book__header__title{
   text-align: center;
	font-size: 40px;
	font-weight: 700;
}
.book__header__text{
	width: 100%;
	padding: 20px 0;
	font-size: 15px;
	text-align: center;
}
.agency__title{
	font-size: 30px;
}
}
@media(max-width: 640px){
	.container{
		width: 90%;
		margin: 0 auto;
	}
.book__body{
	display: block;
	justify-content: column;
}

.book__body__photo-left{
	width: 100%;
	position: relative;

}
.book__body__photo-rithy{
	width: 100%;
	position: relative;
}
.book__body__img-left1,.book__body__img-left2{
	width: 100%;

}
.book__body__img-left1{
	margin-bottom: 25px;
}
.book__body__img-rithy{
	padding-top: 20px;
	width: 100%;
}
.book__body__img-left1__btn,.book__body__img-left2__btn,.book__body__img-rithy__btn{
	padding: 10px 20px;
	position: absolute;
	color: #fdd;
	z-index: 5;
	border:1px solid #fff;
}
.awesome__body{
	padding: 50px 0;
	display: block;
	
	align-items: center;
}
.awesome__content{
  text-align: center;
	width: 100%;
}
.awesome__content__link{
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;


}
.awesome__body__photo{
	padding-top: 30px;
	width: 100%;
}
.millennium__header__title{
line-height: 30px;
font-size: 30px;
width: 100%;

}
.millennium__header__text{
	margin: 0 auto;
	width: 100%;
}
.agency>.container{
	padding: 70px 0;
	display: block;
	justify-content:column;
	align-items: center;
}
.agency__content{
	
	width: 100%;
}
.agency__title{
	padding-top: 0px;
   text-align: center;
	font-size: 350%;
	line-height: 1.2;
	padding-bottom: 20px;

}
.agency__photo{
	width: 100%;
	padding-bottom:0px;
}
.footer>.container{
	display: flex;
	justify-content: column;
	flex-wrap: wrap;
	
}
.footer__column{

	width: 40%;
	flex-wrap: wrap;
	text-align: center;
	padding: 20px 0;
}


}
@media(max-width: 540px){
  .container{
  	width: 90%;
  	margin: 0 auto;
  }
  .next__title{
  	font-size: 40px;
  }
}