*{
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
body{
	font-family: 'Roboto', sans-serif;

}
.container-img{
	width: 100%;
	margin: 0 auto;
}
.container{
	width: 1140px;
	margin: 0 auto;
	
}
.primiry__btn{
	background-color: #38B3F1;
	border:none;
	padding:10px 30px;
	color: #fff;
	font-size: 15px;
	font-family: Lato;

}
.primiry__btn:hover{
	background-color: #58B3F2;
}
.body-img{
	width: 100%;
	background-image: url("../img/PlbRTTw8AN 1.png");
	background-size: cover;
	height: 100vh;
}
.navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.nav__logo{
	width: 20%;
	display: flex;
	align-items: center;
}
.nav__logo__title{
	color: #fff;
	font-size: 30px;
	font-weight: 700;
}
.nav-list{
	display: flex;
	width: 40%;
}
.nav__item{
	margin: 0 20px;
}
.nav__item a{
	color: #fff;
	font-size: 20px;
;
}
.nav__item a:hover{
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
		background-color: transparent
}
.next__content{
	width: 60%;
	padding-top: 100px;
}
.next__title{
	font-size: 70px;
	color: #fff;
	font-family: Lato;
	line-height: 1.5;
}
.next__text{
padding: 40px 0;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
opacity: 0.6;
}
.next__link{
	display: flex;
}
.next__btn{
border: 1px solid #38B3F1;
box-sizing: border-box;
color:#38B3F1; 
margin-left: 40px;
background-color:transparent;


}
.next__btn:hover{
	color: #fff;
}



.book{
	padding: 100px 0;

}
.book__header{
	width: 50%;
}
.book__header__title{
 
	font-size: 40px;
	font-weight: 700;
}
.book__header__text{
	width: 80%;
	padding: 20px 0;
	font-size: 15px;
}

.book__body{
	display: flex;
	justify-content: space-between;
}

.book__body__photo-left{
	width: 48%;
	position: relative;

}
.book__body__photo-rithy{
	width: 48%;
	position: relative;
}
.book__body__img-left1,.book__body__img-left2{
	width: 100%;

}
.book__body__img-left1{
	margin-bottom: 25px;
}
.book__body__img-rithy{
	width: 100%;
}
.book__body__img-left1__btn,.book__body__img-left2__btn,.book__body__img-rithy__btn{
	padding: 10px 20px;
	position: absolute;
	color: #fff;
	z-index: 5;
	border:1px solid #fff;
	background-color: transparent;
}
.book__body__img-left1__btn{
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
}
.book__body__img-left2__btn{
	bottom: 20%;
	left: 50%;
	transform: translateX(-50%);
}
.book__body__img-rithy__btn{
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
}

.awesome{
	background-image: url("../img/Rectangle 150.png");
	width: 100%;
	background-size: cover;
}
.awesome__header{
	padding-top: 20%;
	text-align: center;

}
.awesome__header__title{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 90px;
color: #000000;

}
.awesome__text{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;

}

.awesome__hrader__text{
	margin: 0 auto;
	width: 50%;
	justify-content: center;
}
.awesome__body{
	padding: 50px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.awesome__content{

	width: 40%;
}
.awesome__content__title{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 24px;
color: #000000;
padding-bottom: 30px;
}
.awesome__content__link{
	padding-top: 30px;
	display: flex;
	align-items: center;



}
.awesome__content__day{
	width: 30%;
}
.awesome__body__photo{
	width: 40%;
}
.awesome__body__btn{
	width: 40%;
}
.awesome__content__span{
	font-size: 20px;
	font-weight: 600;
}
.awesome__body__btn{
	background: #427FF7;
}
.awesome__body__img{
	width: 100%;
}


.millennium__header{
	padding: 10% 0;
	text-align: center;

}
.millennium__header__title{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 90px;
color: #000000;
}
.millennium__header__text{
	margin: 0 auto;
	width: 45%;
}
.millennium__body{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  
}
.millennium__body__photo{
	flex: 32%;
	max-width: 32%;
	justify-content: column;
	padding: 0 4px;




}

.millennium__body__img img{
	width: 100%;
	height: 100%;
	align-items: baseline;
}
.millennium__body__photo img{
 margin-top: 8px;
    vertical-align: middle;
	width: 100%;
}
.millennium__body__img{
	 margin-top: 8px;
    vertical-align: middle;
	width: 100%;
}
.agency{
	background-image: url('../img/Rectangle 151.png');
	background-size: cover;
}
.agency>.container{
	padding: 70px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.agency__photo{
	width: 45%;
}
.agency__img{
	width: 100%;
}
.agency__content{
	padding-top: 150px;
	width: 45%;
}
.agency__title{

	font-size: 350%;
	line-height: 2;
	padding-bottom: 50px;

}
.travel{
	padding-top: 20px;
	padding-bottom: 100px;
}
.travel>.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.travel__photo{
	width: 50%;
}
.travel__photo img{
	width: 150%;
	transform: translateX(-35%);
}
.travel__content{
	width: 45%;
}
.travel__content__title{

font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 1.5;
color: #000000;
}
.travel__content__text{
	padding: 20px 0;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #000000;
opacity: 0.6;
}
.travel__content__btn{
   background: #427FF7;
}
.footer{
	padding: 100px 0;
	background: #000411;
	color: #fff;
}

.footer>.container{
	display: flex;
	justify-content: space-around;
	
}
.footer__column{
	width: 20%;
}
.footer__column__title{
font-size: 30px;
padding-bottom: 20px;
}
.footer__column__text{
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0.05em;
      color: #FFFFFF;
      opacity: 0.7;
      padding-bottom: 20px;
}
.footer__column__link{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}
.footer__column__link:hover{
	color:blue;
}
.footer__column__list{
	padding-top: 20px;
}
.footer__column__item a{
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 26px;
letter-spacing: 0.05em;

color: rgba(255,255,255,2);

}
.footer__column__item a:hover{
	color:red;
	}


